<table>
<caption>List of attributes</caption>
 <thead>
  <tr>
   <th style="text-align:right;"> id </th>
   <th style="text-align:left;"> name </th>
   <th style="text-align:left;"> unit </th>
   <th style="text-align:left;"> cat </th>
   <th style="text-align:left;"> att_id </th>
  </tr>
 </thead>
<tbody>
  <tr>
   <td style="text-align:right;"> 7 </td>
   <td style="text-align:left;"> Number of live trees </td>
   <td style="text-align:left;"> trees </td>
   <td style="text-align:left;"> timberland </td>
   <td style="text-align:left;"> att_7 </td>
  </tr>
  <tr>
   <td style="text-align:right;"> 9 </td>
   <td style="text-align:left;"> Number of standing dead trees </td>
   <td style="text-align:left;"> trees </td>
   <td style="text-align:left;"> timberland </td>
   <td style="text-align:left;"> att_9 </td>
  </tr>
  <tr>
   <td style="text-align:right;"> 69 </td>
   <td style="text-align:left;"> Carbon in live trees </td>
   <td style="text-align:left;"> metric tons </td>
   <td style="text-align:left;"> timberland </td>
   <td style="text-align:left;"> att_69 </td>
  </tr>
  <tr>
   <td style="text-align:right;"> 61 </td>
   <td style="text-align:left;"> Carbon in standing dead trees </td>
   <td style="text-align:left;"> metric tons </td>
   <td style="text-align:left;"> timberland </td>
   <td style="text-align:left;"> att_61 </td>
  </tr>
</tbody>
</table> <table>
<caption>Main statistics</caption>
 <thead>
  <tr>
   <th style="text-align:left;">   </th>
   <th style="text-align:right;"> min </th>
   <th style="text-align:right;"> median </th>
   <th style="text-align:right;"> mean </th>
   <th style="text-align:right;"> max </th>
   <th style="text-align:right;"> sd </th>
  </tr>
 </thead>
<tbody>
  <tr>
   <td style="text-align:left;"> est_net_period_gen </td>
   <td style="text-align:right;"> 0.00 </td>
   <td style="text-align:right;"> 5.71 </td>
   <td style="text-align:right;"> 97.29 </td>
   <td style="text-align:right;"> 1756.03 </td>
   <td style="text-align:right;"> 195.19 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> years_operation </td>
   <td style="text-align:right;"> 0.00 </td>
   <td style="text-align:right;"> 16.00 </td>
   <td style="text-align:right;"> 11.76 </td>
   <td style="text-align:right;"> 28.00 </td>
   <td style="text-align:right;"> 10.93 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> n.overlaps </td>
   <td style="text-align:right;"> 0.00 </td>
   <td style="text-align:right;"> 1.00 </td>
   <td style="text-align:right;"> 1.27 </td>
   <td style="text-align:right;"> 7.00 </td>
   <td style="text-align:right;"> 1.40 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> pellet_intersection </td>
   <td style="text-align:right;"> 0.00 </td>
   <td style="text-align:right;"> 0.00 </td>
   <td style="text-align:right;"> 0.33 </td>
   <td style="text-align:right;"> 4.72 </td>
   <td style="text-align:right;"> 0.62 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> pulp_intersection </td>
   <td style="text-align:right;"> 0.00 </td>
   <td style="text-align:right;"> 1.00 </td>
   <td style="text-align:right;"> 1.59 </td>
   <td style="text-align:right;"> 10.28 </td>
   <td style="text-align:right;"> 1.78 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> drought_intersection </td>
   <td style="text-align:right;"> 0.00 </td>
   <td style="text-align:right;"> 0.00 </td>
   <td style="text-align:right;"> 0.05 </td>
   <td style="text-align:right;"> 1.00 </td>
   <td style="text-align:right;"> 0.21 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> population </td>
   <td style="text-align:right;"> 0.72 </td>
   <td style="text-align:right;"> 21.93 </td>
   <td style="text-align:right;"> 53.28 </td>
   <td style="text-align:right;"> 1969.21 </td>
   <td style="text-align:right;"> 108.27 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> cropland_ratio </td>
   <td style="text-align:right;"> 0.00 </td>
   <td style="text-align:right;"> 0.06 </td>
   <td style="text-align:right;"> 0.10 </td>
   <td style="text-align:right;"> 0.51 </td>
   <td style="text-align:right;"> 0.11 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> nearest_port_dist </td>
   <td style="text-align:right;"> 3.49 </td>
   <td style="text-align:right;"> 122.94 </td>
   <td style="text-align:right;"> 139.04 </td>
   <td style="text-align:right;"> 446.92 </td>
   <td style="text-align:right;"> 88.94 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> port_access </td>
   <td style="text-align:right;"> 0.00 </td>
   <td style="text-align:right;"> 0.00 </td>
   <td style="text-align:right;"> 0.39 </td>
   <td style="text-align:right;"> 1.00 </td>
   <td style="text-align:right;"> 0.49 </td>
  </tr>
</tbody>
</table> <table>
<caption>Correlation matrix</caption>
 <thead>
  <tr>
   <th style="text-align:left;">   </th>
   <th style="text-align:left;"> est___ </th>
   <th style="text-align:left;"> yrs_pr </th>
   <th style="text-align:left;"> n.vrlp </th>
   <th style="text-align:left;"> pllt_n </th>
   <th style="text-align:left;"> plp_nt </th>
   <th style="text-align:left;"> drght_ </th>
   <th style="text-align:left;"> popltn </th>
   <th style="text-align:left;"> crpln_ </th>
   <th style="text-align:left;"> nrst__ </th>
   <th style="text-align:left;"> prt_cc </th>
  </tr>
 </thead>
<tbody>
  <tr>
   <td style="text-align:left;"> est_net_period_gen </td>
   <td style="text-align:left;"> 1 </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
  </tr>
  <tr>
   <td style="text-align:left;"> years_operation </td>
   <td style="text-align:left;"> . </td>
   <td style="text-align:left;"> 1 </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
  </tr>
  <tr>
   <td style="text-align:left;"> n.overlaps </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;"> , </td>
   <td style="text-align:left;"> 1 </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
  </tr>
  <tr>
   <td style="text-align:left;"> pellet_intersection </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;"> 1 </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
  </tr>
  <tr>
   <td style="text-align:left;"> pulp_intersection </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;"> . </td>
   <td style="text-align:left;"> , </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;"> 1 </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
  </tr>
  <tr>
   <td style="text-align:left;"> drought_intersection </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;"> 1 </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
  </tr>
  <tr>
   <td style="text-align:left;"> population </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;"> 1 </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
  </tr>
  <tr>
   <td style="text-align:left;"> cropland_ratio </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;"> 1 </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
  </tr>
  <tr>
   <td style="text-align:left;"> nearest_port_dist </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;"> 1 </td>
   <td style="text-align:left;">  </td>
  </tr>
  <tr>
   <td style="text-align:left;"> port_access </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;"> , </td>
   <td style="text-align:left;"> 1 </td>
  </tr>
</tbody>
</table> <table>
 <thead>
  <tr>
   <th style="text-align:left;"> Symbols </th>
  </tr>
 </thead>
<tbody>
  <tr>
   <td style="text-align:left;"> 0 &lt; ` ` &lt;= 0.3 &lt; `.` &lt;= 0.6 &lt; `,` &lt;= 0.8 &lt; `+` &lt;= 0.9 &lt; `*` &lt;= 0.95 &lt; `B` &lt;= 1 </td>
  </tr>
</tbody>
</table> <table>
<caption>AIC/BIC/Sigma</caption>
 <thead>
  <tr>
   <th style="text-align:left;">   </th>
   <th style="text-align:left;"> att_7 </th>
   <th style="text-align:left;"> att_9 </th>
   <th style="text-align:left;"> att_69 </th>
   <th style="text-align:left;"> att_61 </th>
  </tr>
 </thead>
<tbody>
  <tr>
   <td style="text-align:left;"> OLS </td>
   <td style="text-align:left;"> 9633.84 </td>
   <td style="text-align:left;"> 9474.05 </td>
   <td style="text-align:left;"> 9313.35 </td>
   <td style="text-align:left;"> 9143.69 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> GLS </td>
   <td style="text-align:left;"> -6210.12 </td>
   <td style="text-align:left;"> -1478.19 </td>
   <td style="text-align:left;"> -7290.41 </td>
   <td style="text-align:left;"> -8481.87 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> LMM </td>
   <td style="text-align:left;"> -5120.33 </td>
   <td style="text-align:left;"> 3.65 </td>
   <td style="text-align:left;"> -5600.02 </td>
   <td style="text-align:left;"> -7404.73 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> OLS </td>
   <td style="text-align:left;"> 9730.28 </td>
   <td style="text-align:left;"> 9570.49 </td>
   <td style="text-align:left;"> 9409.79 </td>
   <td style="text-align:left;"> 9240.14 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> GLS </td>
   <td style="text-align:left;"> -6094.45 </td>
   <td style="text-align:left;"> -1362.51 </td>
   <td style="text-align:left;"> -7174.73 </td>
   <td style="text-align:left;"> -8366.2 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> LMM </td>
   <td style="text-align:left;"> -5017.5 </td>
   <td style="text-align:left;"> 106.47 </td>
   <td style="text-align:left;"> -5497.2 </td>
   <td style="text-align:left;"> -7301.91 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> OLS </td>
   <td style="text-align:left;"> 0.69 </td>
   <td style="text-align:left;"> 0.68 </td>
   <td style="text-align:left;"> 0.67 </td>
   <td style="text-align:left;"> 0.66 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> GLS </td>
   <td style="text-align:left;"> 0.79 </td>
   <td style="text-align:left;"> 0.72 </td>
   <td style="text-align:left;"> 0.75 </td>
   <td style="text-align:left;"> 0.73 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> LMM </td>
   <td style="text-align:left;"> 0.07 </td>
   <td style="text-align:left;"> 0.15 </td>
   <td style="text-align:left;"> 0.07 </td>
   <td style="text-align:left;"> 0.05 </td>
  </tr>
</tbody>
</table> <table>
<caption>Linear Mixed Effects Model</caption>
 <thead>
  <tr>
   <th style="text-align:left;">   </th>
   <th style="text-align:left;"> est_att_7 </th>
   <th style="text-align:left;"> err_att_7 </th>
   <th style="text-align:left;"> pvalue_att_7 </th>
   <th style="text-align:left;"> est_att_9 </th>
   <th style="text-align:left;"> err_att_9 </th>
   <th style="text-align:left;"> pvalue_att_9 </th>
   <th style="text-align:left;"> est_att_69 </th>
   <th style="text-align:left;"> err_att_69 </th>
   <th style="text-align:left;"> pvalue_att_69 </th>
   <th style="text-align:left;"> est_att_61 </th>
   <th style="text-align:left;"> err_att_61 </th>
   <th style="text-align:left;"> pvalue_att_61 </th>
  </tr>
 </thead>
<tbody>
  <tr>
   <td style="text-align:left;"> (Intercept) </td>
   <td style="text-align:left;"> 11.5059 </td>
   <td style="text-align:left;"> 0.0818 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> 6.9393 </td>
   <td style="text-align:left;"> 0.0756 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> 8.179 </td>
   <td style="text-align:left;"> 0.0775 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> 4.8848 </td>
   <td style="text-align:left;"> 0.0752 </td>
   <td style="text-align:left;"> 0 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> typebiomass </td>
   <td style="text-align:left;"> 0.4464 </td>
   <td style="text-align:left;"> 0.0896 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> 0.3116 </td>
   <td style="text-align:left;"> 0.0808 </td>
   <td style="text-align:left;"> 1e-04 </td>
   <td style="text-align:left;"> 0.1418 </td>
   <td style="text-align:left;"> 0.0848 </td>
   <td style="text-align:left;"> 0.0948 </td>
   <td style="text-align:left;"> 0.298 </td>
   <td style="text-align:left;"> 0.0827 </td>
   <td style="text-align:left;"> 3e-04 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> est_net_period_gen </td>
   <td style="text-align:left;"> -1e-04 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> 0.009 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> 0.7471 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> 0.8588 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> 0.6058 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> years_operation </td>
   <td style="text-align:left;"> -7e-04 </td>
   <td style="text-align:left;"> 4e-04 </td>
   <td style="text-align:left;"> 0.121 </td>
   <td style="text-align:left;"> -8e-04 </td>
   <td style="text-align:left;"> 9e-04 </td>
   <td style="text-align:left;"> 0.3373 </td>
   <td style="text-align:left;"> 0.0087 </td>
   <td style="text-align:left;"> 4e-04 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> 0.001 </td>
   <td style="text-align:left;"> 3e-04 </td>
   <td style="text-align:left;"> 0.0021 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> n.overlaps </td>
   <td style="text-align:left;"> -0.096 </td>
   <td style="text-align:left;"> 0.0309 </td>
   <td style="text-align:left;"> 0.0019 </td>
   <td style="text-align:left;"> -0.1142 </td>
   <td style="text-align:left;"> 0.0276 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> -0.1149 </td>
   <td style="text-align:left;"> 0.0292 </td>
   <td style="text-align:left;"> 1e-04 </td>
   <td style="text-align:left;"> -0.1108 </td>
   <td style="text-align:left;"> 0.0285 </td>
   <td style="text-align:left;"> 1e-04 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> pellet_intersection </td>
   <td style="text-align:left;"> -0.0014 </td>
   <td style="text-align:left;"> 0.003 </td>
   <td style="text-align:left;"> 0.6418 </td>
   <td style="text-align:left;"> -0.0223 </td>
   <td style="text-align:left;"> 0.0061 </td>
   <td style="text-align:left;"> 3e-04 </td>
   <td style="text-align:left;"> 0.0165 </td>
   <td style="text-align:left;"> 0.0028 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> 0.0082 </td>
   <td style="text-align:left;"> 0.0022 </td>
   <td style="text-align:left;"> 2e-04 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> pulp_intersection </td>
   <td style="text-align:left;"> -0.0212 </td>
   <td style="text-align:left;"> 0.0029 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> 0.0062 </td>
   <td style="text-align:left;"> 0.0057 </td>
   <td style="text-align:left;"> 0.2804 </td>
   <td style="text-align:left;"> -0.0084 </td>
   <td style="text-align:left;"> 0.0027 </td>
   <td style="text-align:left;"> 0.002 </td>
   <td style="text-align:left;"> -0.0122 </td>
   <td style="text-align:left;"> 0.0021 </td>
   <td style="text-align:left;"> 0 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> drought </td>
   <td style="text-align:left;"> -0.0013 </td>
   <td style="text-align:left;"> 0.0048 </td>
   <td style="text-align:left;"> 0.7823 </td>
   <td style="text-align:left;"> 0.0216 </td>
   <td style="text-align:left;"> 0.0099 </td>
   <td style="text-align:left;"> 0.0293 </td>
   <td style="text-align:left;"> -0.0017 </td>
   <td style="text-align:left;"> 0.0045 </td>
   <td style="text-align:left;"> 0.7158 </td>
   <td style="text-align:left;"> 8e-04 </td>
   <td style="text-align:left;"> 0.0036 </td>
   <td style="text-align:left;"> 0.8313 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> forestBeech-Maple-Oak </td>
   <td style="text-align:left;"> -1.3187 </td>
   <td style="text-align:left;"> 0.0886 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> 0.1514 </td>
   <td style="text-align:left;"> 0.0808 </td>
   <td style="text-align:left;"> 0.0614 </td>
   <td style="text-align:left;"> -0.7806 </td>
   <td style="text-align:left;"> 0.0838 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> -0.2787 </td>
   <td style="text-align:left;"> 0.0816 </td>
   <td style="text-align:left;"> 7e-04 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> forestMesophytic </td>
   <td style="text-align:left;"> -0.3144 </td>
   <td style="text-align:left;"> 0.0811 </td>
   <td style="text-align:left;"> 1e-04 </td>
   <td style="text-align:left;"> 0.6685 </td>
   <td style="text-align:left;"> 0.0722 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> 0.1123 </td>
   <td style="text-align:left;"> 0.0768 </td>
   <td style="text-align:left;"> 0.144 </td>
   <td style="text-align:left;"> 0.3873 </td>
   <td style="text-align:left;"> 0.075 </td>
   <td style="text-align:left;"> 0 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> forestNorthern Hardwoods </td>
   <td style="text-align:left;"> 0.2966 </td>
   <td style="text-align:left;"> 0.0738 </td>
   <td style="text-align:left;"> 1e-04 </td>
   <td style="text-align:left;"> 1.3165 </td>
   <td style="text-align:left;"> 0.0664 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> 0.0773 </td>
   <td style="text-align:left;"> 0.0698 </td>
   <td style="text-align:left;"> 0.2689 </td>
   <td style="text-align:left;"> 0.9562 </td>
   <td style="text-align:left;"> 0.0681 </td>
   <td style="text-align:left;"> 0 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> population </td>
   <td style="text-align:left;"> -0.0015 </td>
   <td style="text-align:left;"> 2e-04 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> -0.0018 </td>
   <td style="text-align:left;"> 2e-04 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> 3e-04 </td>
   <td style="text-align:left;"> 2e-04 </td>
   <td style="text-align:left;"> 0.0815 </td>
   <td style="text-align:left;"> -3e-04 </td>
   <td style="text-align:left;"> 2e-04 </td>
   <td style="text-align:left;"> 0.0936 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> cropland_ratio </td>
   <td style="text-align:left;"> -0.4915 </td>
   <td style="text-align:left;"> 0.1068 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> -2.5946 </td>
   <td style="text-align:left;"> 0.1741 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> -1.0738 </td>
   <td style="text-align:left;"> 0.1013 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> -0.6942 </td>
   <td style="text-align:left;"> 0.0817 </td>
   <td style="text-align:left;"> 0 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> port_access </td>
   <td style="text-align:left;"> -0.12 </td>
   <td style="text-align:left;"> 0.0552 </td>
   <td style="text-align:left;"> 0.03 </td>
   <td style="text-align:left;"> -0.0228 </td>
   <td style="text-align:left;"> 0.0494 </td>
   <td style="text-align:left;"> 0.6443 </td>
   <td style="text-align:left;"> -0.173 </td>
   <td style="text-align:left;"> 0.0523 </td>
   <td style="text-align:left;"> 0.001 </td>
   <td style="text-align:left;"> -0.1133 </td>
   <td style="text-align:left;"> 0.0509 </td>
   <td style="text-align:left;"> 0.0263 </td>
  </tr>
</tbody>
</table> <table>
<caption>Linear Mixed Effects Model (exp(beta)-1 * 100)</caption>
 <thead>
  <tr>
   <th style="text-align:left;">   </th>
   <th style="text-align:left;"> lb_att_7 </th>
   <th style="text-align:left;"> exp_att_7 </th>
   <th style="text-align:left;"> ub_att_7 </th>
   <th style="text-align:left;"> pvalue_att_7 </th>
   <th style="text-align:left;"> lb_att_9 </th>
   <th style="text-align:left;"> exp_att_9 </th>
   <th style="text-align:left;"> ub_att_9 </th>
   <th style="text-align:left;"> pvalue_att_9 </th>
   <th style="text-align:left;"> lb_att_69 </th>
   <th style="text-align:left;"> exp_att_69 </th>
   <th style="text-align:left;"> ub_att_69 </th>
   <th style="text-align:left;"> pvalue_att_69 </th>
   <th style="text-align:left;"> lb_att_61 </th>
   <th style="text-align:left;"> exp_att_61 </th>
   <th style="text-align:left;"> ub_att_61 </th>
   <th style="text-align:left;"> pvalue_att_61 </th>
  </tr>
 </thead>
<tbody>
  <tr>
   <td style="text-align:left;"> (Intercept) </td>
   <td style="text-align:left;"> 84589.4 </td>
   <td style="text-align:left;"> 99300.95 </td>
   <td style="text-align:left;"> 116571.05 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> 888.9 </td>
   <td style="text-align:left;"> 1031.06 </td>
   <td style="text-align:left;"> 1195.93 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> 3062.18 </td>
   <td style="text-align:left;"> 3564.36 </td>
   <td style="text-align:left;"> 4148.86 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> 113.14 </td>
   <td style="text-align:left;"> 131.27 </td>
   <td style="text-align:left;"> 152.27 </td>
   <td style="text-align:left;"> 0 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> typebiomass </td>
   <td style="text-align:left;"> 31.11 </td>
   <td style="text-align:left;"> 56.27 </td>
   <td style="text-align:left;"> 86.27 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> 16.56 </td>
   <td style="text-align:left;"> 36.56 </td>
   <td style="text-align:left;"> 59.98 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> -2.41 </td>
   <td style="text-align:left;"> 15.24 </td>
   <td style="text-align:left;"> 36.08 </td>
   <td style="text-align:left;"> 0.09 </td>
   <td style="text-align:left;"> 14.55 </td>
   <td style="text-align:left;"> 34.72 </td>
   <td style="text-align:left;"> 58.44 </td>
   <td style="text-align:left;"> 0 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> est_net_period_gen </td>
   <td style="text-align:left;"> -0.01 </td>
   <td style="text-align:left;"> -0.01 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> 0.01 </td>
   <td style="text-align:left;"> -0.01 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> 0.01 </td>
   <td style="text-align:left;"> 0.75 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> 0.86 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> 0.61 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> years_operation </td>
   <td style="text-align:left;"> -3.01 </td>
   <td style="text-align:left;"> -1.34 </td>
   <td style="text-align:left;"> 0.36 </td>
   <td style="text-align:left;"> 0.12 </td>
   <td style="text-align:left;"> -5.03 </td>
   <td style="text-align:left;"> -1.68 </td>
   <td style="text-align:left;"> 1.78 </td>
   <td style="text-align:left;"> 0.34 </td>
   <td style="text-align:left;"> 17.04 </td>
   <td style="text-align:left;"> 18.95 </td>
   <td style="text-align:left;"> 20.89 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> 0.73 </td>
   <td style="text-align:left;"> 2.03 </td>
   <td style="text-align:left;"> 3.33 </td>
   <td style="text-align:left;"> 0 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> n.overlaps </td>
   <td style="text-align:left;"> -26.87 </td>
   <td style="text-align:left;"> -17.47 </td>
   <td style="text-align:left;"> -6.86 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> -28.58 </td>
   <td style="text-align:left;"> -20.43 </td>
   <td style="text-align:left;"> -11.34 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> -29.13 </td>
   <td style="text-align:left;"> -20.53 </td>
   <td style="text-align:left;"> -10.88 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> -28.35 </td>
   <td style="text-align:left;"> -19.87 </td>
   <td style="text-align:left;"> -10.39 </td>
   <td style="text-align:left;"> 0 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> pellet_intersection </td>
   <td style="text-align:left;"> -0.72 </td>
   <td style="text-align:left;"> -0.14 </td>
   <td style="text-align:left;"> 0.44 </td>
   <td style="text-align:left;"> 0.64 </td>
   <td style="text-align:left;"> -3.37 </td>
   <td style="text-align:left;"> -2.21 </td>
   <td style="text-align:left;"> -1.03 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> 1.11 </td>
   <td style="text-align:left;"> 1.67 </td>
   <td style="text-align:left;"> 2.23 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> 0.38 </td>
   <td style="text-align:left;"> 0.82 </td>
   <td style="text-align:left;"> 1.26 </td>
   <td style="text-align:left;"> 0 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> pulp_intersection </td>
   <td style="text-align:left;"> -2.64 </td>
   <td style="text-align:left;"> -2.1 </td>
   <td style="text-align:left;"> -1.55 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> -0.5 </td>
   <td style="text-align:left;"> 0.62 </td>
   <td style="text-align:left;"> 1.75 </td>
   <td style="text-align:left;"> 0.28 </td>
   <td style="text-align:left;"> -1.36 </td>
   <td style="text-align:left;"> -0.83 </td>
   <td style="text-align:left;"> -0.31 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> -1.62 </td>
   <td style="text-align:left;"> -1.21 </td>
   <td style="text-align:left;"> -0.8 </td>
   <td style="text-align:left;"> 0 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> drought </td>
   <td style="text-align:left;"> -1.06 </td>
   <td style="text-align:left;"> -0.13 </td>
   <td style="text-align:left;"> 0.81 </td>
   <td style="text-align:left;"> 0.78 </td>
   <td style="text-align:left;"> 0.22 </td>
   <td style="text-align:left;"> 2.18 </td>
   <td style="text-align:left;"> 4.18 </td>
   <td style="text-align:left;"> 0.03 </td>
   <td style="text-align:left;"> -1.05 </td>
   <td style="text-align:left;"> -0.16 </td>
   <td style="text-align:left;"> 0.73 </td>
   <td style="text-align:left;"> 0.72 </td>
   <td style="text-align:left;"> -0.62 </td>
   <td style="text-align:left;"> 0.08 </td>
   <td style="text-align:left;"> 0.78 </td>
   <td style="text-align:left;"> 0.83 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> forestBeech-Maple-Oak </td>
   <td style="text-align:left;"> -77.51 </td>
   <td style="text-align:left;"> -73.25 </td>
   <td style="text-align:left;"> -68.18 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> -0.7 </td>
   <td style="text-align:left;"> 16.34 </td>
   <td style="text-align:left;"> 36.31 </td>
   <td style="text-align:left;"> 0.06 </td>
   <td style="text-align:left;"> -61.13 </td>
   <td style="text-align:left;"> -54.19 </td>
   <td style="text-align:left;"> -46.01 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> -35.52 </td>
   <td style="text-align:left;"> -24.33 </td>
   <td style="text-align:left;"> -11.2 </td>
   <td style="text-align:left;"> 0 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> forestMesophytic </td>
   <td style="text-align:left;"> -37.71 </td>
   <td style="text-align:left;"> -26.98 </td>
   <td style="text-align:left;"> -14.4 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> 69.38 </td>
   <td style="text-align:left;"> 95.14 </td>
   <td style="text-align:left;"> 124.82 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> -3.75 </td>
   <td style="text-align:left;"> 11.88 </td>
   <td style="text-align:left;"> 30.05 </td>
   <td style="text-align:left;"> 0.14 </td>
   <td style="text-align:left;"> 27.17 </td>
   <td style="text-align:left;"> 47.3 </td>
   <td style="text-align:left;"> 70.62 </td>
   <td style="text-align:left;"> 0 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> forestNorthern Hardwoods </td>
   <td style="text-align:left;"> 16.42 </td>
   <td style="text-align:left;"> 34.53 </td>
   <td style="text-align:left;"> 55.46 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> 227.52 </td>
   <td style="text-align:left;"> 273.02 </td>
   <td style="text-align:left;"> 324.84 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> -5.79 </td>
   <td style="text-align:left;"> 8.03 </td>
   <td style="text-align:left;"> 23.88 </td>
   <td style="text-align:left;"> 0.27 </td>
   <td style="text-align:left;"> 127.66 </td>
   <td style="text-align:left;"> 160.18 </td>
   <td style="text-align:left;"> 197.34 </td>
   <td style="text-align:left;"> 0 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> population </td>
   <td style="text-align:left;"> -17.28 </td>
   <td style="text-align:left;"> -13.95 </td>
   <td style="text-align:left;"> -10.49 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> -19.6 </td>
   <td style="text-align:left;"> -16.09 </td>
   <td style="text-align:left;"> -12.44 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> -0.41 </td>
   <td style="text-align:left;"> 3.38 </td>
   <td style="text-align:left;"> 7.32 </td>
   <td style="text-align:left;"> 0.08 </td>
   <td style="text-align:left;"> -5.97 </td>
   <td style="text-align:left;"> -2.8 </td>
   <td style="text-align:left;"> 0.48 </td>
   <td style="text-align:left;"> 0.09 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> cropland_ratio </td>
   <td style="text-align:left;"> -6.77 </td>
   <td style="text-align:left;"> -4.8 </td>
   <td style="text-align:left;"> -2.78 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> -25.44 </td>
   <td style="text-align:left;"> -22.85 </td>
   <td style="text-align:left;"> -20.18 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> -11.95 </td>
   <td style="text-align:left;"> -10.18 </td>
   <td style="text-align:left;"> -8.38 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> -8.19 </td>
   <td style="text-align:left;"> -6.71 </td>
   <td style="text-align:left;"> -5.2 </td>
   <td style="text-align:left;"> 0 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> port_access </td>
   <td style="text-align:left;"> -20.41 </td>
   <td style="text-align:left;"> -11.31 </td>
   <td style="text-align:left;"> -1.17 </td>
   <td style="text-align:left;"> 0.03 </td>
   <td style="text-align:left;"> -11.28 </td>
   <td style="text-align:left;"> -2.26 </td>
   <td style="text-align:left;"> 7.69 </td>
   <td style="text-align:left;"> 0.64 </td>
   <td style="text-align:left;"> -24.08 </td>
   <td style="text-align:left;"> -15.88 </td>
   <td style="text-align:left;"> -6.81 </td>
   <td style="text-align:left;"> 0 </td>
   <td style="text-align:left;"> -19.19 </td>
   <td style="text-align:left;"> -10.71 </td>
   <td style="text-align:left;"> -1.34 </td>
   <td style="text-align:left;"> 0.03 </td>
  </tr>
</tbody>
</table>